extends ../layout

block content
  - var action = '/urlgroup'
  form.form-horizontal(method="post", action=action, enctype="multipart/form-data")
    div.control-group
      label.control-label group name
      div.controls
        input(type='text', name='group_name').input-group-name

    div.control-group
      label.control-label survey url
      div.controls
        input.span3(type='text', name='survey_link').input-survey-url
    
    div.control-group
      div.controls
        button.group-confirm.btn.btn-success.btn-small(type='submit') Save changes
        &nbsp;
        a.btn.btn-small(href='/index', title="cancel") Cancel